@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
}

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-50 selection:bg-blue-500/30;
  }
}
